html,body{
     height: 100%;
}

body {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:  url("/../Images/Layout/greenboard.png");
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer{
    position: absolute;
    bottom: 0;
}
.container-livre {
    height: 400px;

}

p,h1,h2,h3,h4,h5,h6, body, .tipo-letra, a{
    color : white;
    font-family: katethegreat;
}

 .tipo-letra{
    font-size: 30px;  
}

td {
    color : white;
    font-family: katethegreat;
    font-size: 20px;
}
.index-click button{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
@font-face{
    font-family: katethegreat;
    src: url("/fonts/KatetheGreat.ttf");
}

#informação-distritos, #mapa-distritos {
    height: 700px;
}
