@model IEnumerable<GeoAcademy.Models.Pergunta>
@using System.Collections;
@using System.Web.Script.Serialization;




<div class="container-fluid">
    
    <div class="row">
        <div class="container-livre-100px"></div>
        <div class="col-md-4 zona-butoes">
            <button type="button" class="btn btn-success começa-teste" >Começar o Teste</button> 
         </div>   
            <div class="col-md-8 text-center">            
                  <h2>cenas</h2>  
                <div class="container">
                    <script>
                        
                    </script>
                </div>
            </div>
    </div>
</div>

