



<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Images/mapa_aulas.png" class="mapper" usemap="#Map" alt="mapa-portugal">

            <map name="Map" id="Map">
                <area alt="braga" href="" id="1" onclick="myFunc(id)" shape="poly" coords="153,65,155,65,157,65,157,63,159,63,161,63,161,63,162,63,162,62,164,62,164,62,165,63,165,63,165,61,166,60,170,62,174,63,175,61,176,60,177,58,177,57,176,54,178,52,180,51,182,52,184,50,187,48,190,47,192,48,193,49,194,49,196,48,197,48,198,47,200,46,202,45,202,45,204,44,204,43,205,43,205,42,207,42,212,42,213,42,217,42,218,42,218,42,219,43,219,44,218,47,218,49,218,50,218,51,217,53,217,53,216,55,216,55,215,55,215,56,215,56,215,56,217,56,218,56,219,56,220,56,221,56,222,55,222,56,223,56,224,57,224,58,224,58,225,59,225,60,225,61,225,62,225,63,224,64,224,64,224,65,224,65,224,65,225,66,226,66,226,66,226,67,227,67,227,67,227,67,228,68,229,68,230,68,232,68,233,69,234,69,234,68,235,67,237,66,237,66,237,66,239,66,243,70,241,71,240,72,240,73,240,74,239,74,238,75,237,76,237,77,236,78,236,78,235,79,234,79,233,80,233,81,232,81,231,82,231,83,230,83,230,84,230,85,230,86,230,86,229,87,228,87,228,88,228,89,227,89,226,90,226,91,227,92,227,92,227,93,226,94,226,95,226,96,226,96,226,97,225,98,225,99,224,100,223,101,221,101,219,101,219,101,218,101,217,100,216,99,215,100,215,100,215,100,214,100,213,99,211,97,211,97,211,96,210,95,209,94,208,93,208,93,207,92,207,92,206,92,206,91,205,91,204,90,204,91,204,92,203,92,203,93,203,93,203,93,203,93,202,94,202,94,202,95,201,94,200,95,200,95,200,96,200,96,200,97,200,97,200,98,200,99,199,99,199,99,198,99,198,99,196,99,196,99,195,98,195,98,195,97,194,96,194,95,193,95,193,95,191,95,191,95,191,95,190,96,190,96,190,96,190,96,190,96,190,96,190,96,189,96,189,96,188,96,188,96,188,95,188,95,188,95,188,95,188,95,187,95,186,96,186,96,184,96,182,96,181,95,180,95,179,96,177,97,176,98,176,98,173,98,169,97,168,92,170,91,169,90,167,89,166,89,166,90,165,89,163,88,161,87,158,85,157,84,154,83" />
            </map>
        </div>
        <div class="col-sm-6 cenas">
        </div>
    </div>
</div>
