@{
    ViewBag.Title = "Home Page";
}

<div class="container menu-container">
    <div class="container-livre"></div>
    <div class="row text-left">
        <div class="col-sm-4">
            <p class="tipo-letra" id="aulas"> Aulas</p>
            <p class="tipo-letra" id="testes"> Testes</p>
            <p class="tipo-letra" id="classificacao"> Classificação</p>
        </div>
        <div class="col-sm-8 index-click"></div>    
    </div>
</div>