@{
    ViewBag.Title = "Home Page";
}

<div class="container menu-container">
    <div class="container-livre"></div>
    <div class="row text-left">
        <div class="col-sm-4">
            <p class="menu"> Aulas</p>
            <p class="menu"> Testes</p>
            <p class="menu"> Classificação</p>
        </div>
        <div class="col-sm-4">
             <p class="menu" id="menu-2-1"></p>
             <p class="menu" id="menu-2-2"></p>
 
        </div>
        <div class="col-sm-4"> 
        </div>
    
    </div>
</div>