@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-sm-6"> 
            <img id="map" src="@Url.Content("~/Images/Layout/rosaVentos.jpg")" border="0" alt="compass" />
             <p> cenas 1 2 3 4 5 6 7 8</p>
        </div>
        <div class="col-sm-3"> 
            <div class="container-fluid">
                   <button type="button" class="btn btn-primary cenas1">cenas1</button>
                </div>
            <div class="container-fluid">
                   <button type="button" class="btn btn-primary cenas2">cenas2</button>
             </div> 
        </div>
    
    </div>
</div>