@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row text-left">
        <div class="col-sm-4">
            <p> cenas</p>
            <p class="menu-1"> Aulas</p>
            <p class="menu-1"> Testes</p>
            <p class="menu-1"> Classificação</p>
        </div>
        <div class="col-sm-4">
             <p class="menu-1" id="menu-2-1"></p>
             <p class="menu-1" id="menu-2-2"></p>
 
        </div>
        <div class="col-sm-4"> 
        </div>
    
    </div>
</div>