<div class="container-fluid">

    <div class="row">

        <div class="col-md-6 menu-1 ">
            <p class="rank menu-1"><font size="10">Ranking</fonte></p>
            <div><table class="tabela table table-bordered">
            <tr>
                <td>Luís</td>
                <td>Brito</td>
                <td>92</td>
            </tr>
            <tr>
                <td>Paulo</td>
                <td>Cardoso</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Nuno</td>
                <td>Santos</td>
                <td>OverFlow</td>
            </tr>
            <tr>
                <td>A.</td>
                <td>Ramirez</td>
                <td>OverFlow3D</td>
            </tr>
            <tr>
                <td>O.</td>
                <td>Belo</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Jorge</td>
                <td>Jesus</td>
                <td>666</td>
            </tr>
        </table>
            </div>
                </div>
        <div ><button class="atualizar btn btn-default" type="submit">Actualizar</button>
        </div>
        <div>
            <button class="limpar btn btn-default" type="submit">Limpar</button>
        </div>
        <div class="imagem"><img src="~/images/transparent1.png" style="width:304px;height:228px;" class="imag"></div>
        <div class="imagem2"><img src="~/images/transparent2.png" style="width:304px;height:228px;" class="imag"></div>
    </div>
</div>
