<div class="container-fluid">

    <div class="row">

        <div class="col-md-6 menu-1 ">
            <h1 class="rank">Ranking</h1>
            <div><table class="tabela" style="width:100%">
    <tr>
        <td>Luís</td>
        <td>Brito</td>
        <td>92</td>
    </tr>
    <tr>
        <td>Paulo</td>
        <td>Cardoso</td>
        <td>90</td>
    </tr>
    <tr>
        <td>Nuno</td>
        <td>Santos</td>
        <td>OverFlow</td>
    </tr>
    <tr>
        <td>A.</td>
        <td>Ramirez</td>
        <td>OverFlow3D</td>
    </tr>
    <tr>
        <td>O.</td>
        <td>Belo</td>
        <td>80</td>
    </tr>
    <tr>
    <td>Jorge</td>
    <td>Jesus</td>
    <td>666</td>
    </tr>
</table>
            </div>
        </div>
    </div>
</div>
