
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">PERGUNTA:</h2>
            <p><mark class="teste">I.Em Portugal, Braga é considerada como o maior centro de estudos:</mark></p><p class="teste2">Respostas:</p>
            <p class="ha">1 - Informáticos</p>
            <p class="hb">2 - Desportivos</p>
            <p class="hc">3 - Culturais</p>
            <p class="hd">4 - Religiosos</p>
            <div class="select">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <button class="n1 btn btn-default" type="submit">Next</button>
            <button class="n2 btn btn-default" type="submit">Back</button>


            <div class="col-md-6 menu-1">
                <!-- AVATAR DESTE LADO-->
            </div>


        </div>
    </div>

</div>
