
<div class="container-fluid">
    
    <div class="row">
    
        <div class="col-md-6 menu-1"  
            <h1>IMAGEM:</h1>
            <div>
                <p><strong><h2 class="teste2">DICA:</h2></strong></p>
                <img src="~/images/ba.jpg" alt="Braga" style="width:304px;height:228px;" class="imag">
            </div>
        </div>
        <div class="col-md-6   menu-1"><p>PERGUNTAS:</p>
            <p><mark class="teste">Braga é uma cidade Portuguesa, fundada pelos Romanos como:</mark></p><p class="teste2">Respostas:</p>
            <p class="ha">1 - Bracara Silva</p>
            <p class="hb">2 - Bracara Augusta</p>
            <p class="hc">3 - Bracara Minhota</p>
            <p class="hd">4 - Bracara Minho</p>
        <div class="select"><select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
         </div>
            <p class="n1"><button>Next</button></p>
            <p class="n2"><button>Back</button></p>
            
        </div>
    </div>
    
      
</div>