
<div class="container-fluid">

    <div class="row">

        <div class="col-md-6 menu-1"
            <h1></h1>
            <div>
                <object class="avatar" height="667" width="600" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" id="widget_name"><param name="movie" value="http://vhss-d.oddcast.com/vhss_editors/voki_player.swf?doc=http://vhss-d.oddcast.com/php/vhss_editors/getvoki/chsm=3def626d5200bb781259e11d3fe2a1ed%26sc=11507097" /><param name="quality" value="high" /><param name="allowScriptAccess" value="always" /><param name="width" value="200" /><param name="height" value="267" /><param name="allowNetworking" value="all" /><param name="wmode" value="transparent" /><param name="allowFullScreen" value="true" /><embed height="267" width="200" src="http://vhss-d.oddcast.com/vhss_editors/voki_player.swf?doc=http%3A%2F%2Fvhss-d.oddcast.com%2Fphp%2Fvhss_editors%2Fgetvoki%2Fchsm=3def626d5200bb781259e11d3fe2a1ed%26sc=11507097" quality="high" allowscriptaccess="always" allownetworking="all" wmode="transparent" allowfullscreen="true" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" name="widget_name"></object>
            </div>
        </div>
        <div class="col-md-6   menu-1">
            <p>PERGUNTAS:</p>
            <p><mark class="teste">I.Em Portugal, Braga é considerada como o maior centro de estudos:</mark></p><p class="teste2">Respostas:</p>
            <p class="ha">1 - Informáticos</p>
            <p class="hb">2 - Desportivos</p>
            <p class="hc">3 - Culturais</p>
            <p class="hd">4 - Religiosos</p>
            <div class="select">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <button class="n1 btn btn-default" type="submit">Next</button>
            <button class="n2 btn btn-default" type="submit">Back</button>

        </div>
    </div>


</div>
